<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Add</title>
  </head>
  <body>
    <h1>User Add</h1>
    <form action="/users/save" method="POST">
      <div>
        <input type="text" name="name" placeholder="Type your name" />
      </div>
      <div>
        <input type="text" name="age" placeholder="Type your age" />
      </div>
      <div>
        <input type="submit" value="Register" />
      </div>
    </form>
  </body>
</html>
